body{
    background:#eee; 
}
header, main, .headerTag, ar, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
figcaption {
    background-color: white;
    text-align: center;
    padding: 1.5% 0% 1.5% 0%;
}
ul, p{
    width: 35%;
}
li{
    margin-top: 5%;
}
