body {
    background-color: #010165;
    margin: 0px;
  }
  .header, #current-streak, #best-streak{
    background-color:#00ffff;
  }
  #current-streak, #best-streak {
    height:100px;
    width:50%;
  }
  .title-row{
    text-align:center;
    margin-top:42px;
    margin-bottom:21px;
  }
  .door-frame{
    cursor:pointer;
    padding:10px;
  }
  .instructions-title {
    display:inline;
    color:#00ffff;
    font-size: 18px;
    font-family:'Work Sans';
  }
  .instructions-row, .points-row {
    width: 450px;
    margin: 0 auto;
    border-spacing: 20px;
  }
  .door-row, .header, td{
      text-align: center;
  }
  .instructions-text, th{
      color:white;
      font-family: 'Work Sans';
      font-size: medium;
  }
  .instructions-number{
      color:#00ffff;
      font-size:36px;
  }
  .start-row{
      background-color: tomato;
      width:120px;
      margin:0 auto;
      padding-top: 1%;
      padding-bottom: 1%;
      text-align: center;
      cursor:pointer;
  }
  
  
 